[mysqld]
bind-address=0.0.0.0
skip-name-resolve
max_connections=100
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default_authentication_plugin=mysql_native_password

# Logging
log-error=/var/log/mysql/error.log
slow_query_log=1
long_query_time=2
slow_query_log_file=/var/log/mysql/slow.log

# Sicherheit
local-infile=0
symbolic-links=0

# Performance/Produktivität
innodb_buffer_pool_size=512M
